@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

html {
    font-size: 10px;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
}

.modal {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal::before {
    content: '';
    display: block;
    width: 80%;
    box-shadow: 0 0 30px 30px #152b42;
    background-color: #152b42;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.modal__content {
    color: #fff;
    background-color: #c86dd7;
    background-image: linear-gradient(58deg, rgba(48,35,174, .85) 3%,rgba(200,109,205, .85)), url(../img/bgi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 70px;
}

.form__group {
    margin: 15px 0;
}

.form__label,
.form__input {
    display: block;
}

.form__label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
}

.form__input {
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    outline: none;
    width: 100%;
    padding: 0.8em;
    color: inherit;
    font-size: 1.6rem;
    transition: all .3s;
}

.form__input:focus {
    border-color: rgba(255,255,255, 1);
}

.form__checkbox {
    /* width: 16px;
    height: 16px;
    vertical-align: middle; */
    /* display: none; */
    visibility: hidden;
}


.form__label--checkbox {
    font-size: 1.3rem;
    padding-left: 23px;
}

.form__label--checkbox::before {
    content: '✓';
    width: 16px;
    height: 16px;
    background-color: #23ae92;
    color: #23ae92;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    transition: all .15s ease-in-out;

}

.form__checkbox:checked + .form__label--checkbox::before {
    color: #fff;
} 

.form__btns {
    margin: 40px 0 30px;
}

.form__btn {
    width: 100%;
    padding: 15px;
    background-color: #23ae92;
    color: #fbf6e4;
    outline: none;
    border: 2px solid #23ae92;
    font-size: 1.8rem;
    font-weight: 700;
}

.form__btn:hover,
.form__btn:focus,
.form__btn:active {
    background-color: transparent;
    border-color: 2px solid rgba(255,255,255, .5);
}    

.modal__links {
    display: flex;
    justify-content: space-between;
}

.modal__link {
    text-decoration: none;
    color: #b9b9cc;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(185, 185, 204, .4);
    padding: 3px 0;
    display: inline-block;
}

.modal__link:hover,
.modal__link:focus,
.modal__link:active {
    border-color: #fff;
    color: #fff;
}

.tabs {
    display: flex;
    overflow: hidden;
}

.tabs .form {
    flex: 0 0 100%;
    transition: all .3s ease-in-out, opacity .8s ease-in-out;
}

.form[name="join-us"] {
    opacity: 0;
}

.form[name="sign-in"] {
    opacity: 1;
}

#sign-in:checked ~ .tabs .form {/* Тильда находит всех соседей, + находит ближайших соседей */
    transform: translate(0, 0);
}

#join-us:checked ~ .tabs .form {
    transform: translate(-100%, 0);
}

#join-us:checked ~ .tabs .form[name="join-us"] {
    opacity: 1;
}

#join-us:checked ~ .tabs .form[name="sign-in"] {
    opacity: 0;
}

[name="tab"] {
    display: none;
}

[name="tab"] + label {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0 15px 25px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;
    padding-bottom: 5px;
    opacity: .6;
    cursor: pointer;
}

[name="tab"]:checked + label {
    border-color: #e66a64;
    opacity: 1;
}

[name="tab"] + label:hover,
[name="tab"] + label:focus {
    opacity: 1;
}